body {
	width: 80%; 
	margin: 20px auto;
} 



form {
	width: 100%;
    max-width: 300px;
    border: 1px solid #888;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;	
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
	background-color: #eee;
	padding: 10px;
	/*margin-bottom: 30px;*/
	margin: auto;
}

fieldset {
    color: #564ddd;
}

legend {
    font-weight: bold;
}

input {
    margin: 10px 0 0 0;
}

#age, #sex {
    width: 25%;    
}

#btonAdd {
    margin: 10px 0 0 0;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
}

#btonAdd:hover {
	background-color: #bbb7f0;
}